:root {
  --sl-color-primary-50: rgb(254 248 250);
  --sl-color-primary-100: rgb(252 231 239);
  --sl-color-primary-200: rgb(250 212 227);
  --sl-color-primary-300: rgb(248 191 213);
  --sl-color-primary-400: rgb(244 162 194);
  --sl-color-primary-500: rgb(234 76 137);
  --sl-color-primary-600: rgb(228 74 133);
  --sl-color-primary-700: rgb(187 61 110);
  --sl-color-primary-800: rgb(155 50 91);
  --sl-color-primary-900: rgb(111 36 65);
  --sl-color-primary-950: rgb(69 22 40);
  --sl-z-index-dialog: var(--zi-default-overlay, 10000);
  --font-face: "nunito";
}
@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito-regular.woff");
}
body {
  background: var(--sl-color-primary-200);
  font-family: var(--font-face);
}

.main {
  display: flex;
  justify-content: center;
}
.mainTable {
  width: 1200px;
  height: 100vh;
  background-color: white;
  border-radius: 8px;
  margin-top: 40px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.titleForm {
  font-family: var(--font-face);
  font-size: 25px;
  letter-spacing: 0.5px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
}
.searchBox {
  display: flex;
  width: 90%;
  height: 40px;
  flex-wrap: wrap;
  margin-left: 3rem;
}
.searchForm {
  width: 70%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.1rem;
  position: relative;
}

.searchInput {
  width: 95%;
  height: 35px;
  display: flex;
  border: none;
  position: absolute;
  left: 2rem;
}
.searchInput:focus {
  outline: none;
}
.searchInput::placeholder {
  font-size: 1rem;

  font-family: var(--font-face);
}
.mainSearchInput {
  display: flex;
}
.searchIcon {
  font-size: 1.5rem;
  padding: 0 5px;
}
.searchButton {
  width: 30%;
  height: 40px;

  display: flex;
  justify-content: center;
}
.searchBtn {
  width: 90%;
  background-color: #000;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.fieldMain {
  width: 90%;
  height: 60px;
  background-color: var(--sl-color-primary-200);
  border-radius: 5px;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  margin: 1rem 3rem;
}
.fieldTitle {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-face);
  margin: 0 30px;
  width: 150px;
}

.fieldTitle i {
  margin-left: 1rem;
}
.mainItems {
  width: 100%;
  height: 100vh;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 1.5rem;
  flex-direction: column;
  overflow: auto;
}
.userItem {
  width: 90%;
  height: 55px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  gap: 40px;
  padding: 5px 1rem;
  margin-left: 1.5rem;
  /* border: 1px solid red; */
}
.checkBox {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-right: 2rem;
}
.userCheckbox {
  width: 20px;
  height: 20px;
  display: flex;
  justify-self: flex-end;
  margin-left: 1rem;
}
.spinner {
  display: flex;
}
.userName {
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-face);
  display: flex;
  justify-self: flex-start;
  margin-left: -4rem;
  align-items: center;
  /* border: 1px solid red; */
  width: 250px;
  height: auto;
}
.dataAdd {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font-face);
  color: gray;
  width: 100px;
}
.size {
  width: 2rem;
  font-size: 12;
  font-weight: 400;
  font-family: var(--font-face);
  color: gray;
  display: flex;
  justify-content: center;
  width: 150px;
}
.shareWith {
  width: 2rem;
  font-size: 12;
  font-weight: 400;
  font-family: var(--font-face);
  color: gray;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 150px;
}
.tools {
  display: flex;
  width: 120px;
  height: 40px;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.tools i {
  font-size: 1.25rem;
  cursor: pointer;
}
.delete {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .mainTable {
    width: 95%;
  }
  .searchBox {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 40px;
    justify-content: center;
    padding-left: 0;
    flex-wrap: wrap;
    margin: 1rem 1.5rem;
    /* border: 1px solid red; */
  }
  .titleForm {
    font-size: 1.25rem;
  }

  .searchForm {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .mainSearchInput {
    width: 100%;
  }
  .searchInput {
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
  }
  .searchButton {
    width: 100%;
    margin: 0.5rem 0;
    align-items: center;
  }
  .searchBtn {
    width: 100%;
    height: 40px;
    font-size: 0.85rem;
  }
  .fieldMain {
    margin-top: 4rem;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
    gap: 1rem;
  }
  .fieldTitle {
    width: 70px;
    font-size: 8px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;

    /* border: 1px solid red; */
  }
  .fieldTitle:first-child {
    width: 50px;
  }
  .fieldTitle i {
    margin-left: 3px;
  }
  .mainItems {
    width: 120%;
  }
  .searchInput::placeholder {
    font-size: 0.85rem;
  }
  .userItem {
    width: 80%;
    height: 85px;
    display: flex;
    border-bottom: 1px solid gray;
    margin-top: -20px;
    justify-content: space-around;
    align-content: center;
  }
  .userCheckbox {
    width: 15px;
    height: 15px;

    /* border: 1px solid red; */
  }
  .userName {
    font-size: 9px;
    font-weight: 600;
    margin-left: 0;
    gap: 1px;
    width: 100px;
    height: auto;
    justify-content: flex-start;
    /* border: 1px solid red; */
    margin-left: -2rem;
  }
  .dataAdd {
    font-size: 6px;
    font-weight: 600;
    width: 40px;
    /* border: 1px solid red; */
  }
  .size {
    width: 2rem;
    font-size: 8px;
    justify-content: flex-start;
    /* border: 1px solid red; */
  }
  .shareWith {
    width: 3rem;
    font-size: 9px;
    /* border: 1px solid red; */
  }
  .tools {
    display: flex;
    width: 80px;
    height: 40px;
    gap: 3px;
    /* border: 1px solid red; */
  }
  .tools i {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 996px) {
  .mainTable {
    width: 95%;
  }
  .searchBox {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 40px;
    justify-content: center;
    padding-left: 0;
    flex-wrap: wrap;
    margin: 1rem 1.5rem;
    gap: 1rem;
    /* border: 1px solid red; */
  }
  .titleForm {
    font-size: 1.25rem;
    padding: 1rem 6rem;
  }

  .searchForm {
    width: 75%;
    display: flex;
    height: auto;
    flex-direction: row;
  }

  .mainSearchInput {
    width: 100%;
  }
  .searchInput {
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
  }
  .searchButton {
    width: 20%;
    margin: 0.5rem 0;
    height: 35px;
    align-items: center;
  }
  .searchBtn {
    width: 100%;
    height: 45px;
    font-size: 0.85rem;
  }
  .fieldMain {
    margin-top: 4rem;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
    gap: 1rem;
  }
  .fieldTitle {
    width: 70px;
    font-size: 10px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;

    /* border: 1px solid red; */
  }
  .fieldTitle:first-child {
    width: 50px;
  }
  .fieldTitle i {
    margin-left: 3px;
  }
  .mainItems {
    width: 100%;
  }
  .searchInput::placeholder {
    font-size: 0.85rem;
  }
  .userItem {
    width: 80%;
    height: 85px;
    display: flex;
    border-bottom: 1px solid gray;
    margin-top: -20px;
    justify-content: space-around;
    align-content: center;
  }
  .userCheckbox {
    width: 20px;
    height: 20px;

    /* border: 1px solid red; */
  }
  .userName {
    font-size: 11px;
    font-weight: 600;
    margin-left: 0;
    gap: 1px;
    width: 100px;
    height: auto;
    justify-content: flex-start;
    /* border: 1px solid red; */
    margin-left: -2rem;
  }
  .dataAdd {
    font-size: 9px;
    font-weight: 600;
    width: 40px;
    /* border: 1px solid red; */
  }
  .size {
    width: 2rem;
    font-size: 10px;
    justify-content: flex-start;
    /* border: 1px solid red; */
  }
  .shareWith {
    width: 3rem;
    font-size: 12px;
    /* border: 1px solid red; */
  }
  .tools {
    display: flex;
    width: 80px;
    height: 40px;
    gap: 3px;
    /* border: 1px solid red; */
  }
  .tools i {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mainTable {
    width: 95%;
  }
  .searchBox {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 40px;
    justify-content: center;
    padding-left: 0;
    flex-wrap: wrap;
    margin: 1rem 1.5rem;
    gap: 1rem;
    /* border: 1px solid red; */
  }
  .titleForm {
    font-size: 1.25rem;
    padding: 1rem 6rem;
  }

  .searchForm {
    width: 75%;
    display: flex;
    height: auto;
    flex-direction: row;
  }

  .mainSearchInput {
    width: 100%;
  }
  .searchInput {
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
  }
  .searchButton {
    width: 20%;
    margin: 0.5rem 0;
    height: 35px;
    align-items: center;
  }
  .searchBtn {
    width: 100%;
    height: 45px;
    font-size: 0.85rem;
  }
  .fieldMain {
    margin-top: 4rem;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
    gap: 1rem;
  }
  .fieldTitle {
    width: 70px;
    font-size: 10px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;

    /* border: 1px solid red; */
  }
  .fieldTitle:first-child {
    width: 50px;
  }
  .fieldTitle i {
    margin-left: 3px;
  }
  .mainItems {
    width: 100%;
  }
  .searchInput::placeholder {
    font-size: 0.85rem;
  }
  .userItem {
    width: 80%;
    height: 85px;
    display: flex;
    border-bottom: 1px solid gray;
    margin-top: -20px;
    justify-content: space-around;
    align-content: center;
  }
  .userCheckbox {
    width: 20px;
    height: 20px;

    /* border: 1px solid red; */
  }
  .userName {
    font-size: 11px;
    font-weight: 600;
    margin-left: 0;
    gap: 1px;
    width: 100px;
    height: auto;
    justify-content: flex-start;
    /* border: 1px solid red; */
    margin-left: -2rem;
  }
  .dataAdd {
    font-size: 9px;
    font-weight: 600;
    width: 40px;
    /* border: 1px solid red; */
  }
  .size {
    width: 2rem;
    font-size: 10px;
    justify-content: flex-start;
    /* border: 1px solid red; */
  }
  .shareWith {
    width: 3rem;
    font-size: 12px;
    /* border: 1px solid red; */
  }
  .tools {
    display: flex;
    width: 80px;
    height: 40px;
    gap: 3px;
    /* border: 1px solid red; */
  }
  .tools i {
    font-size: 0.75rem;
  }
}
